/** BASIC STYLE **/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "KumbhSans-Bold";
  src: url(../fonts/KumbhSans-Bold.ttf);
}

@font-face {
  font-family: "KumbhSans-Regular";
  src: url(../fonts/KumbhSans-Regular.ttf);
}

@font-face {
  font-family: "KumbhSans-Light";
  src: url(../fonts/KumbhSans-Light.ttf);
}

/* Primary Colors */
:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
}

/* Neutral Colors */
:root {
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsla(0, 0%, 0%, 0.75);
}

body {
  font-size: 16px;
  background-color: var(--white);
}

a {
  color: var(--orange);
}

/** SIDEBAR **/

#sideMenu {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  margin-top: 60px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: var(--light-grayish-blue);
  z-index: 1;
  border-radius: 10px;
}

.sideMenuInner {
  margin: 0;
  padding: 0;
  border-top: 0px solid;
}

.sideMenuInner li {
  list-style: none;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 0px solid black;
}

.sideMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.sideMenuInner li a {
  color: var(--dark-grayish-blue);
  cursor: pointer;
  text-decoration: none;
  font-family: KumbhSans-Bold, sans-serif;
}

input[type="checkbox"]:checked ~ #sideMenu {
  transform: translateX(0);
}

input[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sideIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #4a4a4a;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type="checkbox"]:checked ~ .sideIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type="checkbox"]:checked ~ .sideIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type="checkbox"]:checked ~ .sideIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

/** NAVBAR AREA **/

nav {
  height: 10vh;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--light-grayish-blue);
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.right-icons {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1.5rem;
  gap: 1rem;
}

.logo {
  margin-left: 3.5rem;
  margin-top: 1.1rem;
  cursor: pointer;
  margin-bottom: -1.4rem;
}

#cart {
  cursor: pointer;
}

#avatar {
  width: 22px;
  height: 22px;
}

/** HEADER AREA **/

.image-container {
  position: relative;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.previous-icon {
  position: absolute;
  top: 55%;
  left: 8%;
  border: 7px solid;
  border-radius: 100%;
  border-color: white;
  background-color: white;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.next-icon {
  position: absolute;
  top: 55%;
  left: 88%;
  border: 8px solid;
  border-radius: 100%;
  border-color: white;
  background-color: white;
  width: 33px;
  height: 33px;
  cursor: pointer;
}

/** SECTION FIELD **/

h1 {
  font-family: KumbhSans-Bold, sans-serif;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 60%;
}

h6 {
  font-family: KumbhSans-Bold, sans-serif;
  color: var(--orange);
  margin-top: 1rem;
  margin-left: 1rem;
  letter-spacing: 1px;
}

p {
  font-family: KumbhSans-Light, sans-serif;
  margin-top: 1rem;
  margin-left: 1rem;
}

/** PRICING AREA **/

.pricing-area {
  margin-bottom: 1rem;
}

.area-left {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.area-right {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 1rem;
  margin-top: -1.5rem;
  color: var(--grayish-blue);
  font-family: KumbhSans-Light, sans-serif;
}

#price {
  font-family: KumbhSans-Bold, sans-serif;
  font-size: 22px;
}

#discount {
  font-family: KumbhSans-Bold, sans-serif;
  color: var(--orange);
  border: 0px solid;
  border-radius: 5px;
  padding: 1px 7px;
  border-color: var(--pale-orange);
  background-color: var(--pale-orange);
}

del {
  font-family: KumbhSans-Regular, sans-serif;
  margin-right: 0.5rem;
}

.quantity-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border: 0px solid;
  border-radius: 10px;
  background: hsl(215, 100%, 97%);
  padding: 15px 0;
  gap: 1.5rem;
  font-family: KumbhSans-Bold, sans-serif;
  width: 90%;
}

#minus,
#plus {
  color: var(--orange);
  cursor: pointer;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 15px;
  gap: 0.5rem;
  font-size: 16px;
  width: 90%;
  border-radius: 10px;
  border: 0px;
  color: var(--white);
  background-color: var(--orange);
  cursor: pointer;
}

span {
  margin-top: 10px;
}

#move-page {
  margin-left: 8rem;
  text-decoration: none;
  font-family: KumbhSans-Regular, sans-serif;
  font-size: 12px;
  color: black;
  cursor: pointer;
}

/** MEDIA QUERIES **/

@media only screen and (max-width: 375px) {
  nav {
    height: 8vh;
  }

  .navbar {
    padding: 1rem;
  }

  .left-icons {
    gap: 0.5rem;
  }

  .image-container {
    margin: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .pricing-area {
    margin-bottom: 1rem;

    .quantity-box {
      gap: 1rem;
    }

    button {
      margin-left: 1rem;
      padding: 15px;
    }

    .btn-cart {
      margin-bottom: -4px;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .navbar {
    height: 8vh;
    padding: 1rem;
  }

  #logo {
    margin-top: 0;
  }

  h1 {
    font-size: 1.5rem;
  }

  .quantity-box {
    gap: 1rem;
  }

  button {
    margin-left: 1rem;
    padding: 15px;
  }

  .btn-cart {
    margin-bottom: -3px;
  }
}

@media only screen and (min-width: 1440px) {
  body {
    font-size: 18px;
  }

  nav {
    height: 12vh;
  }

  article {
    margin-left: 1rem;
  }

  .navbar {
    padding: 2rem;
  }

  .left-icons {
    gap: 2rem;
  }

  .next-icon {
    top: 55%;
    left: 65%;
  }

  #avatar {
    width: 25px;
    height: 25px;
  }

  .image-container {
    margin: 2rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  .pricing-area {
    margin-bottom: 2rem;
    margin-left: 1rem;

    .quantity-box {
      gap: 2rem;
    }

    del {
      margin-right: 7rem;
    }

    button {
      margin-left: 2rem;
      padding: 20px;
    }

    .btn-cart {
      margin-bottom: -8px;
    }
  }
}
