/* BASIC STYLE */ 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "KumbhSans-Bold";
    src: url(../fonts/KumbhSans-Bold.ttf);
}

@font-face {
    font-family: "KumbhSans-Regular";
    src: url(../fonts/KumbhSans-Regular.ttf);
}

/* Primary Colors */
:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
  }
  
/* Neutral Colors */
:root {
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsla(0, 0%, 0%, 0.75); /* Black with 75% opacity */
}

body {
    background-color: var(--light-grayish-blue);
    color: var(--very-dark-blue);
    font-size: 16px;
}
  
a {
    color: var(--orange);
}

/* NAVBAR AREA */

nav {
    height: 10vh;
    position: fixed; /* Feste Positionierung */
    width: 100%; /* Die Navbar soll die volle Breite des Bildschirms haben */
    top: 0; /* Oben fixieren */
    background-color: var(--light-grayish-blue);
    z-index: 1000; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.left-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
} 

.right-icons {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    
} 

#logo {
    margin-top: -4px;
}

#avatar {
    width: 20%;
    height: 20%;
}

/* SECTION AREA */




  
































































































.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

